footer.footer
    .container
        .footer__logo-box.mb-big
            img(srcset='images/logo-green-1x.png 1x, images/logo-green-2x.png 2x' alt='Footer logo').footer__logo
        .section-wrapper
            .footer__navigation
                ul.footer__list
                    li.footer__item 
                        a(href='#').footer__link Company
                    li.footer__item 
                        a(href='#').footer__link Contact us
                    li.footer__item 
                        a(href='#').footer__link Carrers
                    li.footer__item 
                        a(href='#').footer__link Privacy policy
                    li.footer__item 
                        a(href='#').footer__link Terms
            .footer__copyright
                p.footer__copyright-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quam, obcaecati necessitatibus officia optio cupiditate cum sint blanditiis veniam ullam delectus quos odit aliquam voluptate iusto aspernatur minima voluptatem tenetur?
    