header.header
    .header__logo
        img(src='images/logo-white.png' alt='logo').header__logo-img
    .header__heading
        h1.heading
            span.heading__main Outdours
            span.heading__sub Is where life happens
        a(href='#').btn.btn--white.btn--moveInTop Discover our tours