.feature
    .feature__icon.mb-small
        i.fas.fa-globe.feature__icon-gradient
    .heading-secondary
        h3.heading-secondary__heading.mb-small Explore the world
        p.heading-secondary__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem facere fuga nesciunt dolorem magnam impedit beatae laudantium dolore? Possimus fugit officia omnis ipsa ullam autem dolorem assumenda alias! Placeat, sed.
.feature
    .feature__icon.mb-small
        i.far.fa-compass.feature__icon-gradient
    .heading-secondary
        h3.heading-secondary__heading.mb-small Explore the world
        p.heading-secondary__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem facere fuga nesciunt dolorem magnam impedit beatae laudantium dolore? Possimus fugit officia omnis ipsa ullam autem dolorem assumenda alias! Placeat, sed.
.feature
    .feature__icon.mb-small
        i.far.fa-map.feature__icon-gradient
    .heading-secondary
        h3.heading-secondary__heading.mb-small Explore the world
        p.heading-secondary__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem facere fuga nesciunt dolorem magnam impedit beatae laudantium dolore? Possimus fugit officia omnis ipsa ullam autem dolorem assumenda alias! Placeat, sed.
.feature
    .feature__icon.mb-small
        i.far.fa-heart.feature__icon-gradient
    .heading-secondary
        h3.heading-secondary__heading.mb-small Explore the world
        p.heading-secondary__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem facere fuga nesciunt dolorem magnam impedit beatae laudantium dolore? Possimus fugit officia omnis ipsa ullam autem dolorem assumenda alias! Placeat, sed.