.navigation
    input(type="checkbox", name="nav", id="nav-toggle").navigation__checkbox
    label(for='nav-toggle').navigation__button
        span.navigation__icon
    .navigation__background
    nav.navigation__nav
        ul.navigation__list
            li.navigation__item
                a(href='#').navigation__link About Natous
            li.navigation__item
                a(href='#').navigation__link Your Benefits
            li.navigation__item
                a(href='#').navigation__link Popular tours
            li.navigation__item
                a(href='#').navigation__link Stories
            li.navigation__item
                a(href='#').navigation__link Book now