.popup(id="popup")
    .container
        .popup__content
            .popup__images
                img(src="images/nat-8.jpg", alt="Tour photo").popup__img
                img(src="images/nat-9.jpg", alt="Tour photo").popup__img
            .popup__details
                .heading-section.heading-section--left.mb-medium
                    h4.heading-section__heading Start booking now
                .heading-secondary
                    h3.heading-secondary__heading.mb-small You're going to fall in love with nature
                    .heading-secondary--columns
                        p.heading-secondary__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem facere fuga nesciunt dolorem magnam impedit beatae laudantium dolore? Possimus fugit officia omnis ipsa ullam autem dolorem assumenda alias! Placeat, sed.
                        p.heading-secondary__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem facere fuga nesciunt dolorem magnam impedit beatae laudantium dolore? Possimus fugit officia omnis ipsa ullam autem dolorem assumenda alias! Placeat, sed.
                .popup__button
                    a(href='#').btn.btn--green Book now
            .popup__close
                a(href='#').popup__close-btn &times;