.story.mb-big
    figure.story__shape
        img(src="images/nat-8.jpg", alt="person").story__img
        figcaption.story__caption mary smith
    .heading-secondary
        h4.heading-secondary__heading.mb-small i had the best week ever with my family
        p.heading-secondary__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nostrum, labore amet ipsam ea ipsum minima quisquam sit harum perspiciatis doloremque, quasi non hic quas alias, magni impedit nihil voluptatum!
.story
    figure.story__shape
        img(src="images/nat-9.jpg", alt="person").story__img
        figcaption.story__caption mary smith
    .heading-secondary
        h4.heading-secondary__heading.mb-small i had the best week ever with my family
        p.heading-secondary__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nostrum, labore amet ipsam ea ipsum minima quisquam sit harum perspiciatis doloremque, quasi non hic quas alias, magni impedit nihil voluptatum!
