.tours.mb-big
    .tour-card
        .tour-card__side.tour-card__side--front
            .tour-card__picture.tour-card__picture--one
            h4.tour-card__heading
                span.tour-card__span.tour-card__span--orange the sea
                span.tour-card__span.tour-card__span--orange explorer
            .tour-card__details
                ul
                    li 3 days tour
                    li Up to 30 people
                    li 2 tour guides
                    li Step in cozy hotels
                    li Difficulty: easy
        .tour-card__side.tour-card__side--back.tour-card__side--back-orange
            .tour-card__price.mb-small
                span.tour-card__price-only.mb-small Only
                span.tour-card__price-value.mb-small 299$
            a(href='#').btn.btn--white.btn--book Book now!
    .tour-card
        .tour-card__side.tour-card__side--front
            .tour-card__picture.tour-card__picture--two
            h4.tour-card__heading
                span.tour-card__span.tour-card__span--green the forest
                span.tour-card__span.tour-card__span--green hiker
            .tour-card__details
                ul
                    li 3 days tour
                    li Up to 30 people
                    li 2 tour guides
                    li Step in cozy hotels
                    li Difficulty: easy
        .tour-card__side.tour-card__side--back.tour-card__side--back-green
            .tour-card__price.mb-small
                span.tour-card__price-only.mb-small Only
                span.tour-card__price-value.mb-small 499$
            a(href='#').btn.btn--white.btn--book Book now!
    .tour-card
        .tour-card__side.tour-card__side--front
            .tour-card__picture.tour-card__picture--three
            h4.tour-card__heading
                span.tour-card__span.tour-card__span--blue the snow
                span.tour-card__span.tour-card__span--blue adventure
            .tour-card__details
                ul
                    li 3 days tour
                    li Up to 30 people
                    li 2 tour guides
                    li Step in cozy hotels
                    li Difficulty: easy
        .tour-card__side.tour-card__side--back.tour-card__side--back-blue
            .tour-card__price.mb-small
                span.tour-card__price-only.mb-small Only
                span.tour-card__price-value.mb-small 699$
            a(href='#').btn.btn--white.btn--book Book now!